body {
  background-color: black;
  overflow-x: hidden; /* Evita que la página se desplace a la derecha */
  margin: 0; /* Asegura que no haya márgenes que causen desplazamiento */
  padding: 0;
}

/* NAVBAR PRINCIPAL */
.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo con opacidad */
  z-index: 10;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* CONTENEDOR DEL NAVBAR */
.navBar_contenedor {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* LOGO */
.nav_logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav_logo img {
  height: 80px;
}

/* Botón hamburguesa animado */
.burger {
  position: relative;
  width: 30px;
  height: 25px;
  background: transparent;
  cursor: pointer;
  display: block;
  z-index: 11;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  transition: 0.25s ease-in-out;
}

/* Posición inicial de las líneas */
.burger span:nth-of-type(1) {
  top: 0;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
  bottom: 0;
}

/* Efecto de "X" cuando el menú está activo */
.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 50%;
}

.burger input:checked ~ span:nth-of-type(2) {
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 50%;
}

/* Estilos del menú */
.nav_list {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  list-style: none;
  padding-top: 80px;
  transition: left 0.3s;
  z-index: 10;
}

.nav_list.active {
  left: 0;
}

.menu_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9;
}

.menu_overlay.active {
  display: block;
}

/* ELEMENTOS DEL MENÚ */
.nav__li_item {
  border-bottom: 1px solid #ffab00; /* Línea negra debajo de cada elemento */
  padding-bottom: 7px; /* Espaciado entre el texto y la línea */
  padding-top: 5px;
  width: 170px;
  padding-left: 20px;
}

.nav__li_item a {
  color: #fff;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 10px;
  transition: color 0.3s;
}

/* EFECTO AL PASAR EL CURSOR */
.nav__li_item a:hover {
  color: #ffab00;
}

/*   inicio   */
.Inicio_pagina {
  background: url("imgs/plano_ciudad.jpg") no-repeat center center;
  background-size: 1550px 800px; /* Tamaño fijo */
  height: 100vh;
}

.inicio_pagina_contenido {
  height: 100%;
  max-width: unset;
}

.inicio_pagina_contenido_inner {
  height: 100%;
  padding-top: 185px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.inicio_pagina_contenido_info {
  box-sizing: border-box;
  text-align: center; /* Centra el contenido interno */
  z-index: 2;
}

.inicio_pagina_titulo {
  max-width: 600px;
  width: 100%;
}

.inicio_pagina_titulo img {
  display: block; /* Asegura que la imagen sea un bloque */
  max-width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.page-header__description_1 {
  font-family: "Tahoma", sans-serif;
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  max-width: 600px;
}

.page-header__description_2 {
  font-family: "BlackOpsOne", sans-serif;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 600px;
}

.inicio_pagina_botones {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  text-align: center; /* Asegura que el contenido se centre si es inline */
  max-width: 600px;
}

.inicio_pagina_botones .t_btn {
  font-size: 18px;
  max-width: 250px;
  padding-inline: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  border: none;
  overflow: hidden;
  color: #ffab00;
}

/* Estilos base del botón */
.t_btn {
  font-family: "LastDays", sans-serif;
  font-weight: 500px;
  font-size: 17px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 14px 70px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: color 0.3s, background-color 0.3s;
}

/* Borde con SVG transparente */
.btn--fancy {
  position: relative;
}

/* Borde SVG que adopta el color del fondo */
.btn--fancy::before {
  content: "";
  position: absolute;
  inset: 0; /* Ajusta el tamaño al botón */
  background-image: url("imgs/mega1.svg");
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta el tamaño del borde */
  background-position: center;
  -webkit-mask-image: url("imgs/mega1.svg");
  mask-image: url("imgs/mega1.svg");
  background-color: #ffab00; /* Aplica el color */
}

/* Efecto Hover */
.t_btn:hover {
  color: white !important; /* Hace el texto blanco */
  background-color: transparent;
}

.btn--fancy:hover::before {
  opacity: 1; /* Hace el borde más visible al pasar el mouse */
}

/* Fondo del botón con textura */
.btn--fancy-gold {
  background: url("imgs/textura-hormigon-oscuro.avif") center / cover no-repeat;
}

.btn--fancy-gold:hover {
  color: white;
  background-clip: border-box;
}

/* Ajustes generales */
a {
  transition: 0.3s;
}

a,
button {
  cursor: pointer;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* Medias queries optimizadas */
@media only screen and (max-width: 1920px) {
  .inicio_pagina_botones .t_btn {
    margin-top: 20px;
    max-width: 251px;
  }
}

@media only screen and (max-width: 1299px) {
  .inicio_pagina_botones .t_btn {
    font-size: 16px;
    max-width: 195px;
  }
}

@media only screen and (max-width: 1024px) {
  .inicio_pagina_botones .t_btn {
    font-size: 18px;
    max-width: 250px;
  }
}

@font-face {
  font-family: "Tahoma";
  src: url("fonts/tahoma.ttf") format("truetype");
}

.Img_sobresalinete {
  position: absolute; /* Se coloca sobre el contenido */
  top: 0; /* Se va al inicio de la pantalla */
  right: 0; /* Se alinea a la derecha */
  z-index: 9999; /* Se asegura de que esté por encima de todo */
  display: flex;
  justify-content: flex-end; /* Asegura que la imagen se alinee al final del contenedor */
}

.Img_sobresalinete img {
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}
/*---------------------------------------------*/
/*  sidebar  */
.sidebar {
  display: none; /* Oculta la sidebar inicialmente */
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #0000002c;
  color: #fff;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  z-index: 1000;
}

.sticky-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sticky-sidebar button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sticky-sidebar img {
  width: 30px;
  margin: 5px 0;
}
/*---------------------------------------------*/
/*  sinopsis  */
.Sinopsis_seccion {
  height: 100vh;
  background: url(imgs/fondo_sinopsis.jpg) no-repeat center center fixed;
  display: flex; /* Usa flexbox */
  justify-content: space-between; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente si es necesario */
}

.contenedor_sinopsis {
  background: url(imgs/prueba4.webp) no-repeat center center;
  width: 800px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos internos se apilen verticalmente */
  align-items: center; /* Centra el contenido horizontalmente */
  padding: 20px;
  margin: 0 200px;
}

.Sinopsis_content {
  width: 600px;
  text-align: justify;
  display: flex;
  flex-direction: column; /* Organiza los textos en columna */
  align-items: center; /* Centra horizontalmente el texto */
}

@font-face {
  font-family: "28DaysLater";
  src: url("fonts/28\ Days\ Later.ttf") format("truetype");
}

@font-face {
  font-family: "LastDays";
  src: url("fonts/Last\ Days.ttf") format("truetype");
}

@font-face {
  font-family: "BlackOpsOne";
  src: url("fonts/BlackOpsOne-Regular.ttf") format("truetype");
}

.titulo_sinopsis {
  font-family: "28DaysLater", sans-serif;
  font-size: 38px; /* Ajusta el tamaño según necesites */
  line-height: 20px;
  padding-bottom: 10px;
  --color: #fff; /* Cambia el color si lo necesitas */
}

.texto_sinopsis1,
.texto_sinopsis2,
.texto_sinopsis3 {
  font-family: "28DaysLater", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #000000; /* Cambia el color aquí (ejemplo: blanco) */
}

.Sinopisis_imagen {
  position: absolute; /* Se coloca sobre el contenido */
  right: 0; /* Se alinea a la derecha */
  z-index: 2; /* Se asegura de que esté por encima de todo */
  display: flex;
  justify-content: flex-end; /* Asegura que la imagen se alinee al final del contenedor */
}

.Sinopisis_imagen img {
  padding-right: 60px;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
}
/*---------------------------------------------*/
/*  carrusel  */

/*---------------------------------------------*/

/* Contenedor */
.contenedor-video {
  position: relative;
  width: auto; /* Ocupa todo el ancho de la pantalla */
  height: 100vh; /* Ocupa todo el alto de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
}

.video {
  width: 1210px;
  height: 550px;
  object-fit: cover; /* Asegura que el video cubra toda la pantalla sin deformarse */
  margin-top: 90px;
}

.marco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

/*---------------------------------------------*/


/*  Galeria  */
.seccion_galeria {
  background: #212529;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100vw;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contenerdor_galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.contenerdor_galeria div {
  background: url(imgs/textura-hormigon-oscuro.avif) no-repeat center center;
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.contenerdor_galeria div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: none;
  position: absolute;
  transition: opacity 0.8s ease-in, transform 0.8s ease-in;
  transform: scale(0.8);
}
.contenerdor_galeria div span {
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}
.contenerdor_galeria div:hover {
  transform: scale(1.05);
}
.contenerdor_galeria div:hover span {
  opacity: 0;
  transform: translateY(-20px);
}
.contenerdor_galeria div:hover img {
  display: block;
  opacity: 1;
  transform: scale(1);
}

/*---------------------------------------------*/
/*  Formulario */

/* Modo día - Texto blanco en el formulario */
.reporte-form {
  color: #fff; /* Texto blanco por defecto (modo día) */
}
/* Modo noche */
.noche {
  background-color: #121212; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
}

/* Sección del formulario */
.seccion-formulario {
  padding: 40px 0;
  background: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
}

/* Contenedor del formulario */
.reporte-form {
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
  border: 2px solid rgba(255, 69, 0, 0.8);
  backdrop-filter: blur(5px);
  max-width: 500px;
  margin: auto;
}

/* Título del formulario */
.reporte-form h2 {
  text-align: center;
  font-family: "BlackOpsOne", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Inputs y select */
.reporte-form input,
.reporte-form select,
.reporte-form textarea {
  background-color: rgba(255, 255, 255, 0.815);
  border: none;
  border-radius: 5px;
  color: #000000;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  transition: background-color 0.3s;
}

/* Efecto hover en inputs */
.reporte-form input:focus,
.reporte-form select:focus,
.reporte-form textarea:focus {
  background-color: rgba(245, 221, 221, 0.336);
  outline: none;
}

/* Botón de envío */
.reporte-form button {
  background: linear-gradient(45deg, #a92719 50%, #7e1c12 50%);
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

/* Efecto hover en el botón */
.reporte-form button:hover {
  background: linear-gradient(45deg, #b70000 50%, #9e0000 50%);
}

/* Botón de modo día/noche */
.modo-toggle .btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

/* Responsive design */
@media (max-width: 768px) {
  .reporte-form {
    padding: 15px;
  }

  .reporte-form h2 {
    font-size: 20px;
  }

  .reporte-form input,
  .reporte-form select,
  .reporte-form textarea {
    font-size: 14px;
    padding: 8px;
  }
}
/*---------------------------------------------*/
/* estilos para el slider de plataformas */
.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: #312f2f;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 200px;
  height: 150px; /* Establece una altura fija */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slide img {
  max-width: 100%; /* Asegura que la imagen no sea más ancha que el contenedor */
  max-height: 100%; /* Asegura que la imagen no sea más alta que el contenedor */
  object-fit: cover; /* Ajusta la imagen para cubrir todo el espacio sin deformarse */
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}
/*---------------------------------------------*/
/* Estilo general del footer */
.footer {
  background-color: #111; /* Negro oscuro */
  color: #fff; /* Texto blanco */
  padding: 20px 0; /* Espaciado interno */
}

/* Estilo de los enlaces en el footer */
.footer-links a {
  color: #fff; /* Color blanco inicial */
  text-decoration: none; /* Sin subrayado */
  font-weight: bold; /* Negrita */
  font-size: 14px; /* Tamaño de fuente */
  transition: color 0.3s; /* Transición suave */
}

/* Cambio de color al pasar el mouse */
.footer-links a:hover {
  color: #ffab00 !important; /* Rojo brillante */
}

/* Estilo para los enlaces en la parte inferior (términos y privacidad) */
.footer .small a {
  color: #bbb; /* Gris claro inicial */
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s; /* Transición suave */
}

.footer .small a:hover {
  color: #ffab00 !important; /* Rojo brillante al pasar el mouse */
}

/* Separador horizontal */
.footer hr {
  border-color: #fff; /* Línea blanca */
  margin: 15px 0; /* Espaciado */
}

/* Imagen ESRB */
.footer-right img {
  max-width: 80px; /* Ancho máximo */
  height: auto; /* Altura automática */
}
